<h1>Login<h1>

<%= form_with(scope: :session, local:true ) do |form| %>
    <div class="field">
        <%= form.label :email, "E-mail" %>
        <%= form.email_field :email %>
    </div>

    <div class="field">
        <%= form.label :password, "Senha" %>
        <%= form.password_field :password %>
    </div>

    <div class="actions">
        <%= form.submit "Entrar" %>
    </div>

<% end %>

<p><%= link_to "Não possui conta?! Faça um cadastro", cadastro_path%><p>