<br>
nome: <%= @user.name%> <br>
email: <%= @user.email %> <br>
<br>
<br>

<strong> My Posts </strong>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th>Likes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
        <%if post.user == @user%>
            <tr>
                <td><%= post.title %></td>
                <td><%= post.content %></td>
                <td><%= post.user.name %></td>
                <td><%= post.likes.length %></td>
                <td><%= link_to 'Show', post %></td>
            </tr>   
        <%end%>
    <% end %>
  </tbody>
</table>
<br>
<br>

<%= link_to "Feed", posts_path %>
<%= link_to "Fazer post", new_post_path %>
