<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong><%= link_to "likes:", post_likes_path(@post),  method: :post %></strong>
  <%= @post.likes.length%>
</p>


<%= form_with(url: comments_path, method: :post, local: true) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.hidden_field :post_id, value: @post.id  %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user().id  %>
  </div>

  <div class="actions">
    <%= form.submit "Add comment"%>
  </div>
<% end %>


<p>
  <strong>Comments: </strong>
</p>


<p>
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>User</th>
        <th colspan="2"></th>
      </tr>
    </thead>


    <tbody>
      <% @comments.each do |comment| %>
        <%if comment.post == @post%>
          <tr>
            <td><%= comment.content %></td>
            <td><%= comment.user.name %></td>s
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</p>


<%= link_to 'Back', root_path %>
